.categories {
  display: flex;
  font-size: 0.8em;
  margin: 0 auto;
  color: #8a8989;
  padding: 0 0.8em;
}

.categories > button:not(:last-child) {
  margin-right: 0.5em;
}

button.active {
  border-bottom: 2px solid #007bff; /* Add a border to the active button */
  color: #007bff; /* Change text color for the active button */
}
